@model IEnumerable<DepartmentModel>
<div class="pagetitle">
    <h1>Department</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Department</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="d-flex justify-content-end align-items-end">
        <a class="btn btn-primary " asp-action="AddDepartment" asp-controller="Home">Add New Department</a>
    </div>
    <!-- Table with stripped rows -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">DepartmentID</th>
                <th scope="col">DepartmentName</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model)
            {
                <tr>
                    <th>@department.departmentID</th>
                    <td>@department.departmentName</td>
                    <td>
                        <a class="btn btn-warning" asp-action="AddEmployee" asp-controller="Home">Edit</a>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <!-- End Table with stripped rows -->

</section>