@model UserModel;
<section class="section">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add New User</h5>

            <!-- Horizontal Form -->
            <form asp-controller="User" asp-action="SaveData">
                <input type="hidden" asp-for="UserID"/>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>UserName </label>
                    <div class="col-sm-10">

                        <input  class="form-control" asp-for="UserName" name="UserName" required />
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                    
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>Email</label>
                    <div class="col-sm-10">

                        <input class="form-control" asp-for="Email"name="Email" required />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>Password</label>
                    <div class="col-sm-10">
                        <input  class="form-control"asp-for="Password" name="Password" required />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>MobileNo</label>
                    <div class="col-sm-10">
                        <input  asp-for="MobileNo" class="form-control" name="MobileNo" required />
                        <span class="text-danger" asp-validation-for="MobileNo"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>Address</label>
                    <div class="col-sm-10">
                        <input  class="form-control"asp-for="Address" name="Address" required />
                        <span class="text-danger" asp-validation-for="Address"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>IsActive</label>
                    <div class="col-sm-10">
                        <select id="inputState" asp-for="IsActive" name="IsActive" class="form-select">
                            <option selected>true</option>
                            <option>false</option>
                          
                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                </div>




                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a type="reset" class="btn btn-secondary" asp-action="User" asp-controller="User">Table</a>
                </div>
            </form><!-- End Horizontal Form -->

        </div>
    </div>
</section>@{
    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}