@{
    Layout = "~/Views/_Layout_login.cshtml";
      //  D:\ytdown\AdminPanel3_NiceAdmin_CRUD\AdminPanel3_NiceAdmin_CRUD\Views\_Layout_login.cshtml
}
@model UserLogin
<div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-1">
                <a  class="logo Display1 align-items-center ">
                            <img src="~/img/logo1.png" width="100px" height="100px" alt="">
                  
                </a>
                       
              </div><!-- End Logo -->
                    <span class="d-none d-lg-block h2 text-info unstyled py-4">Coffee Shop</span>
              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-1 pb-1">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your username & password to login</p>
                  </div>

                            <form class="row needs-validation" asp-action="LoginCheck" asp-controller="User">

                    <div class="col-12">
                      <label  class="form-label">Username</label>
                     
                       
                        <input  asp-for="UserName" class="form-control" >
                        <span asp-validation-for="UserName" class="text-danger"></span>
                       
                     
                    </div>

                    <div class="col-12">
                      <label for="Password" class="form-label">Password</label>
                      <input  asp-for="Password" class="form-control"  >
                                    <span asp-validation-for="Password" class="text-danger"></span>
                      
                    </div>
                    </br>
                    
                    <div class="col-12 mt-2">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Don't have account? <a asp-action="Register" asp-controller="User" >Create an account</a></p>
                    </div>
                                @{
                                    if (TempData["message"] != null)
                                    {
                                        <span class="text-danger Display3">@TempData["message"]</span>
                                    }
                                }
                  </form>

                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://github.com/Karan1445">Karan Gohel</a>
              </div>

            </div>
          </div>
        </div>

      </section>
      @{
      
      }