@model CustomerModel;
<section class="section">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add New Customer</h5>

            <!-- Horizontal Form -->
            <form asp-controller="Customer" asp-action="SaveData">
                <input type="hidden"  asp-for="CustomerID" />
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>CustomerName</label>
                    <div class="col-sm-10">

                        <input type="text" asp-for="CustomerName" class="form-control" name="CustomerName"   />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>

                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>HomeAddress</label>
                    <div class="col-sm-10">
                        <input type="text" asp-for="HomeAddress" class="form-control" name="HomeAddress"   />
                    <span asp-validation-for="HomeAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>Email</label>
                    <div class="col-sm-10">
                        <input type="email" asp-for="Email" class="form-control" name="Email"   />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>MobileNo</label>
                    <div class="col-sm-10">
                        <input type="number" asp-for="MobileNo" class="form-control" name="MobileNo"   />
                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>GST NO</label>
                    <div class="col-sm-10">
                        <input type="text" asp-for="GST_NO" class="form-control" name="GST_NO"   />
                    <span asp-validation-for="GST_NO" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>CityName</label>
                    <div class="col-sm-10">
                        <input type="text"  asp-for="CityName" class="form-control" name="CityName"   />
                    <span asp-validation-for="CityName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>PinCode</label>
                    <div class="col-sm-10">
                        <input type="number"  asp-for="PinCode" class="form-control" name="PinCode"   />
                    <span asp-validation-for="PinCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>NetAmount</label>
                    <div class="col-sm-10">
                        <input type="number" asp-for="NetAmount" class="form-control" name="NetAmount"   />
                    <span asp-validation-for="NetAmount" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>User ID</label>
                    <div class="col-sm-10">
                        <input hidden asp-for="UserID" value="@CommonAccess.UserID()" />
                        <select id="inputState" disabled asp-for="UserID" name="UserID" class="form-select" asp-items="@(new SelectList(ViewBag.UserDropDownList,"UserID","UserName",@CommonAccess.UserID()))">
                            <option value="">Select User</option>
                        </select>
                    <span asp-validation-for="UserID" class="text-danger"></span>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a type="reset" class="btn btn-secondary" asp-action="Index" asp-controller="Customer">Table</a>
                </div>
            </form><!-- End Horizontal Form -->

        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
@{
    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}